{% extends 'base.html' %}

{% block main %}

<section class="w3l-text-6  id="about">
  <div class="text-6-mian ">
    <div class="container" >
      <div class="w3l-grids-block-5 ">
        <section id="grids5-block" class="pt-md-4 pb-md-5  mb-5">
          <div class="container">

            <div class="row mt-sm-5 pt-lg-2" style="text-align: justify; ">

              <div class="col-sm-12 " style="margin-top: 100px;">
                <div class="col-sm-12 col-sm-offset-1 mm text-center" >
            <div class=" four_zero_four_bg">
                  <h1 class="text-center ">404</h1>

                </div>

                <div class="contant_box_404">
                  <h3 class="h2">
                    Look like you're lost
                  </h3>

                  <p>the page you are looking for not avaible!</p>

                  <a href="" class="link_404">Go to Home</a>
                </div>
              </div>
            </div>
          </div>
      </div>
</section>
</div>
</div>
</div>

</section>

<br>
<br>
<br>


<style>
  /*======================
    404 page
=======================*/

  .page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }

  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
  }

  .four_zero_four_bg h1 {
    font-size: 80px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #c2006e;
    margin: 20px 0;
    display: inline-block;
  }

  .contant_box_404 {
    margin-top: -50px;
  }
</style>


{% endblock main %}