{% extends 'base.html' %}
{% block title %}DebugNow: Learn Online with Tutorials, Blogs, Tech News{% endblock title %}
{% block meta-desc %}Learn everything you need to know about computer programming, web development, design, and codding from the experts at Web University. Whether you're a beginner or a seasoned pro, we have the resources you need to succeed.{% endblock meta-desc %}
{% block meta-keywords %}Programming tutorials, IT education, Tech News, Tech Blogs, Free Courses{% endblock meta-keywords %}
{% block meta-auther %}Prathmesh-Lohar{% endblock meta-auther %}
{% block main %}
{% load static %}
    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3 title">DebugNow  Learn<br>  and code<span class="type-js"><span
                        class="text-js">now</span></span></h3>
                       
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" href="/courses">Get Started<i class="fa fa-angle-double-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="{% static 'assets/images/b1.png' %}" alt=" " loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
    <!-- banner bottom section -->
    <div class="w3l-index-block4 pb-5">
        <div class="features-bg pb-lg-5 pt-lg-4 py-4">
            <div class="container">
                <div class="title-main text-center mx-auto mb-md-4">
                    <h3 class="title-big">Our Special Courses</h3>
                    <p class="sub-title mt-2">
                        Start learning computer programming with our comprehensive courses. Whether you are a beginner or an experienced developer, we have courses  for you . Begin your learning journey today!
                    </p>
                </div>
                <div class="row">
                    
                    {% for i in courses %}
  
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="/course/{{i.slug}}/index" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="{{i.thumb.url}}" alt="Course-{{i.name}}" loading="lazy">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h6>{{i.price}}</h6>
                                    <h4>{{i.name}}</h4>
                                    <p>{{i.short_description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- //banner bottom section -->

    <!-- blog section -->
    <div class="w3l-grids-block-5 " style="margin-top: -60px;">
        <section id="grids5-block" class="pt-md-4 pb-md-5 py-4 mb-5">
            <div class="container">
                <div class="title-main text-center mx-auto mb-4">
                    <h3 class="title-big"> Latest Featured Blogs</h3>
                    <p class="sub-title mt-2">We publish enlightening and fascinating blog posts written by subject matter experts. For information on the most recent programming and technological trends, visit our blogs.</p>
                </div>
            
                <div class="row mt-sm-5 pt-lg-2" style="text-align: justify;">
                    {% for i in featured_blogs %}
                    <div class="col-lg-4 col-sm-6 my-1">
                        <div class=" grids5-info">
                            <a href="/blog/{{i.slug}}"><img src="{{i.thumb.url}}" alt="{{i.title}}" / loading="lazy"></a>
                            <div class="blog-info">
                                <h5>{{i.date_of_publish}}</h5>
                                <h4><a href="/blog/{{i.slug}}">{{i.title}}</a></h4>
                                <p >{{i.summary|slice:"120"}}  ...</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
    </div>

    <!-- //blog section -->

    
    <!-- teams 32 block -->
    <section class="w3l-teams-32-main py-5" style="margin-top: -75px;">
        <div class="teams-32 py-md-4">
            <div class="container">
                <div class="title-main text-center mx-auto mb-4">
                    <h3 class="title-big">Our Expert Tutors</h3>
                    <p class="sub-title mt-2">
                        We have expert tutors each tutor is master in their field and updating itself as per latest trends.</p>
                </div>
                
              
                    
                <div class="row main-contteam-32 mt-sm-5 pt-lg-2">
                    
                    {% for st in staf %}
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="#"><img class="img-fluid" src="{{st.profile_picture.url}}" alt="staf-{{st.name}}" loading="lazy"></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="#team" class="title-team-32">{{st.name}}</a></h6>
                            <p class="sm-text-32">{{st.role}}</p>
                        </div>
                    </div>
                    {% endfor %}
                        
                  
                   
                </div>
            </div>
        </div>
    </section>
    <!-- //teams 32 block -->

    {% endblock main %}