{% extends 'base.html' %}
{% block title %}{{blogobj.title}}{% endblock title %}
{% block meta-desc %}{{blogobj.meta_description}}{% endblock meta-desc %}
{% block meta-keywords %}{{blogobj.meta_keywords}}{% endblock meta-keywords %}
{% block meta-auther %}{{blogobj.author}}{% endblock meta-auther %}
{% block main %}
{% load static %}
<!-- inner banner -->
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h1 class="inner-text-title font-weight-bold mb-sm-3 mb-2" style="font-size: 35px; line-height: 1;">{{blogobj.title}}
                </h1>       
        </div>


    </section>
</div>

<!-- //inner banner -->


<div class="w3l-index-block4 pb-5">
    <div class="features-bg pb-lg-5 pt-lg-4 py-4">

        <div class="container my-5">
            <div class="row">

                <div class="container"">

                    <div class=" cntainer main">

                    <div class="thumnail">
                        <img src="{{blogobj.thumb.url}}" class="img-fluid" alt="{{blogobj.title}}" loading="lazy"/>
                    </div>
                    <ul class="blog_list mt-3 mb-4">
                        <li class="mr-3"><a href="#"><i class="fa fa-user mr-2"
                                    aria-hidden="true"></i>{{blogobj.author}}</a>
                        </li>
                        <li class="mr-3"><i class="fa fa-calendar mr-2"
                                aria-hidden="true"></i>{{blogobj.date_of_publish}}
                        </li>
                         <li class="mr-3"><i class="fa fa-folder mr-2"
                                aria-hidden="true"></i>
                
                                {% for cats in blogobj.category.all %}
                    
                                 {{cats.name}}{% if forloop.last %}.
                                    {% else %},
                                 {% endif %}
                                 
                                 
                                     
                                 <!-- {{ forloop.counter }} -->
                                    
                                {% endfor %}
       
                        </li>
                        <!-- <li class="mr-3">
                            <a href="#">
                                <i class="fa fa-heart mr-2" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-comments mr-2" aria-hidden="true"></i></a>
                        </li> -->
                    </ul>

                    <div class="body">
                        <p>{{blogobj.body|safe}}</p>
                    </div>

                    <div class="single-pagination ">
                        
                        {% if prev is not None %}
                        <a class="btn btn-primary prev-post pull-left" href="/blog/{{prev.slug}}"><span class="fa fa-arrow-left"
                            aria-hidden="true"></span>

                        Previous </a>
                        {% endif %}
                            
                        
                        {% if next is not None %}
                             
                        <a class="btn btn-primary  next-post pull-right" href="/blog/{{next.slug}}">Next  <span
                            class="fa fa-arrow-right" aria-hidden="true"></span></a>

                        {% endif %}
                           

                </div>

            </div>


        </div>
    </div>

</div>

</div>

</div>

<!-- end -->

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<style>
    .thumnail .img-fluid{
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .main {
        max-width: 800px;
        margin: auto;
    }


    @media (min-width: 1200px) .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 992px) .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

  

 

 

    .single-pagination {

        margin-top: 40px;
    }

    .main {
        text-align: justify;
    }

    ul.blog_list li {
        display: inline-block;
    }

    ul.blog_list li i {
        color: var(--secondary-color);
    }

    .title h1 {
        font-weight: 600;
    }

    .w3l-index-block4 .features15-para h4 {
        font-size: 18px;

        font-weight: 600;
    }


    .w3l-breadcrumb {
        display: block;
        text-align: center;
        margin: 0 auto;
        z-index: 100;
        padding-top: 120px;
        z-index: 99;
    }

    .inner-banner {

        min-height: 230px;

    }

    .row {
        margin-top: -40px;
    }

    body {
        cursor: pointer;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.6.2/skins/ui/oxide/content.min.css"
    integrity="sha512-Nb60vaWMEAnUDZ/IsnF8mOndx6sXBu8V1OF6Fn8ikSm2gj5xNYAHc/1xsHn5ngna8lEm4uTuyKg3kO/HpMTKcQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<br>
<br><br>

{% endblock main %}